---
  import Layout from '../layouts/Layout.astro';
  import Header from '../components/Header.astro';
  import Footer from '../components/Footer.astro';
---

<Layout title="ProgressoDev - Tu página personal">
  <Header />
    <main class="w-full">
      <!-- Contenido de envio del mensaje de la parte privada -->
      <div class="bg-[white] w-full mx-auto flex flex-col items-center justify-center mt-5"><!-- Div con el background -->
        <div class="flex flex-col items-center justify-center">
          <h1 class="text-4xl text-black font-bold mb-2">ESTA ES TU ÁREA PRIVADA</h1>
          <p class="text-[14px] mb-2">Describe lo que quieres aprender, explícalo, y envialo para que la IA te genere un roadmap perfecto para ti</p>
        </div>
        <!-- Input de texto que contiene el mensaje que se le va a enviar a la IA -->
        <div class="flex flex-row w-full justify-center align-center mt-4 mb-2"><!-- Div que contiene el input y el botón de enviar -->
          <input type="text" class="w-2/4 h-10 p-2 black border-solid border-2 rounded-lg mt-4" placeholder="Explica a la IA lo que quieres aprender..." id="input-text" /><!-- Input principal con el que se le da la información a la IA de lo que se quiere aprender -->
          <div class="flex flex-col justify-center align-center ml-4"><!-- Div del botón de enviar -->
            <button type="submit" class="border-none bg-blue-800 hover:bg-blue-500 transition ease-in-out text-white text-[16px] font-bold w-18 h-8 p-1 rounded-xl mt-3" id="submitButton">Enviar</button>
          </div>
        </div>
      </div>
      <!-- Fin contenido de envio del mensaje de la parte privada -->

      <!-- Sección donde se mostrarán los roadmaps creados con su subpágina propia -->
      <section class="w-full mt-4 p-2">
        <h1 class="text-2xl text-black font-bold mb-2 ml-10">Tus roadmaps:</h1>
        <div class="flex flex-col gap-4 min-h-40">
          <div id="divRespuesta" class="w-30"></div>
        </div>
      </section>
      <!-- Sección de Roadmaps de ejemplo -->
      <div class="p-1 ml-11">
        <h1 class="text-2xl text-black font-bold mb-2">Te puede interesar:</h1>
      </div>
      <section class="w-full mt-4 flex flex-col items-center">
        <div class="grid grid-cols-5 sm:grid-cols-2 sm:grid-rows-2 gap-y-10 sm:gap-x-3 md:gap-x-10 xl:gap-x-60">
          <!-- Roadmap React -->
          <div class="flex justify-center">
            <a href="">
              <img src="/ReactRoadmap.png" alt="Roadmap de React" class="w-full max-w-[16rem] sm:max-w-[18rem] md:max-w-[20rem] border-2 border-black rounded-2xl hover:transition-transform cursor-pointer hover:scale-110">
            </a>
          </div>
          <!-- Roadmap Next.js -->
          <div class="flex justify-center">
            <a href="">
              <img src="/NextJSRoadmap.png" alt="Roadmap de Next.js ejemplo" class="w-full max-w-[16rem] sm:max-w-[18rem] md:max-w-[20rem] border-2 border-black rounded-2xl hover:transition-transform cursor-pointer hover:scale-110">
            </a>
          </div>
          <!-- Roadmao Astro -->
          <div class="flex justify-center">
            <a href="">
              <img src="/AstroRoadmap.png" alt="Roadmap de Next.js ejemplo" class="w-full max-w-[16rem] sm:max-w-[18rem] md:max-w-[20rem] border-2 border-black rounded-2xl hover:transition-transform cursor-pointer hover:scale-110">
            </a>
          </div>
          <!-- Roadmao Python -->
          <div class="flex justify-center">
            <a href="">
              <img src="/PythonRoadmap.png" alt="Roadmap de Next.js ejemplo" class="w-full max-w-[16rem] sm:max-w-[18rem] md:max-w-[20rem] border-2 border-black rounded-2xl hover:transition-transform cursor-pointer hover:scale-110">
            </a>
          </div>
        </div>
      </section>
    </main>
    <script src="../scripts/sendMesajeToBackend.js"></script>
  <Footer />
</Layout>